.bnj{
    background-image: url(http://www.scrapbooksgonedigital.com/images/kits/WordArtForMyKids.jpg);
    background-color:black;
    height: 100%;
    width: 100%;
    
}
.help{
    width: 1200px;
    height:600px;
    display:flex;
    flex-direction:column;
}
#col{
    background-color:black;
}
#c{
    color:ghostwhite;
    background-color:black;
}